.element-card {
  background-color: color-mix(in srgb, var(--theme-bg) 80%, white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.08);
  padding: $spacer;
  border-radius: 4px;
}
