.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  box-shadow: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  flex-grow: 0;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.navbar {
  border-bottom: none;
  box-shadow: none;
}

.navbar-brand-spacer {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
